$primaryColor: 	#58eeff;
// $primaryColorBis: 	#00c6dd;
$primaryColorBis: 	#00c6dd;
$secondaryColor:#ff4d4d;
$secondaryColorHover:#dd4a4a;
$auxiliaryColor: #f0f0f0;
$footerColorBegin: #6c757d;
$footerColorEnd: #555b61;
$navbarBackgroundColor: #f8f9fa;
$backgroundPrimary: #ffff;
$backgroundSecondary: #f2f2f2;

$transparent: rgba(255, 255, 255, 0.9);

$mode: light;
