$primaryColor: 	#58eeff;
// $primaryColorBis: 	#00c6dd;
$primaryColorBis: 	#51C4D3;
$secondaryColor:#ff4d4d;
$secondaryColorHover:#dd4a4a;
$auxiliaryColor: #f0f0f0;
$footerColorBegin: #126E82;
$footerColorEnd: #132C33;
$navbarBackgroundColor: #f8f9fa;
$backgroundPrimary: #ffff;
$backgroundSecondary: #D8E3E7;

$transparent: rgba(255, 255, 255, 0.9);
$transparentSecondary: rgba(255, 255, 255, 0.5);

$mode: light;


// https://colorhunt.co/palette/d8e3e751c4d3126e82132c33